*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
main{
    margin-top: $header-height;
    margin-bottom: $footer-height;
}
p{
    font-family: $font-family-text;
}
h1, h2, h3, h4, h5, h6{
    font-family: $font-family-h;
    font-weight: $font-weight-bold;
}
h1{
    font-size: 3rem;
}